.example-card {
    max-width: 500px;
    padding-left: 10%;
}

.button-row {
    margin: 10px 0;
}

.container {
    width: 50%;
    align-content: center;
    padding-left: 20%;
}

.divider {
    width: 70px;
    height: auto;
    display: inline-block;
}