.image{
  height:60em; background-size:cover; width:100%;
  background-image: url("https://www.seriouseats.com/recipes/images/2017/06/20170627-summer-nachos-matt-clifton-1-1500x1125.jpg");
  background-position:50% 50%;
}



